<div class="container-fluid app-emp-card">
  <!--Фото-->
  <div class="row">
    <div class="col-sm text-center">
      <img [src]="employeeModel.imagePath" class="img-path">
    </div>
  </div>
  <!--ФИО-->
  <div class="row">
    <div class="col-sm text-center">
      <h4>{{ employeeModel.surname + ' ' + employeeModel.name + ' ' +  employeeModel.patronymicName }}</h4>
    </div>
  </div>
  <!--Отчет-->
  <div class="row text-center">
    <div class="col-sm">
      <div class="btn-group d-inline-block" dropdown>
        <button id="button-basic-report" dropdownToggle type="button" class="btn btn-light dropdown-toggle emp-card-report"
                aria-controls="dropdown-basic">Отчет<span class="caret"></span>
        </button>
        <ul id="dropdown-basic-report" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item">Отчет 1</a></li>
          <li role="menuitem"><a class="dropdown-item">Отчет 2</a></li>
          <li role="menuitem"><a class="dropdown-item">Отчет 3</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--Номер телефона-->
  <div>
    <div class="row row-field">
      <div class="col-sm-5">
        <label class="label-field">Номер телефона:</label>
      </div>
      <div class="col-sm-7">
        <app-mask-edit-field [value]="employeeModel.phoneNumber" [fieldType]="'text'"
                             (valueChanged)="employeeModel.phoneNumber = $event"></app-mask-edit-field>
      </div>
    </div>
  </div>

  <!--поля из настройки-->
  <div *ngFor="let sField of settingsOfFields">
    <div class="row row-field">
      <div class="col-sm-5">
        <label class="label-field">{{sField.label}}:</label>
      </div>
      <div class="col-sm-7">
        <!--отображение редактируемого поля-->
        <app-edit-field [value]="employeeModel[sField.fieldName]" [fieldType]="sField.fieldType" *ngIf="sField.editableField"
                        (valueChanged)="employeeModel[sField.fieldName] = $event"></app-edit-field>
        <!--отображение не редактируемого поля-->
        <span *ngIf="!sField.editableField">{{ employeeModel[sField.fieldName] }}</span>
      </div>
    </div>
    <hr *ngIf="sField.delimiter" class="delimiter"/>
  </div>
</div>
