span {
  cursor: pointer;
  border-bottom: dotted 2px;
}

.btn {
  border-radius: 0;
}

input {
  border-radius: 0;
  width: initial;
}

.btn-save {
  background-color: slateblue;
}

.date-picker {
  width: 156px;
}

.btn-light {
  border-color: #ced4da;
}

.tags-input {
  border-radius: 0;
  max-width: 200px;
}

.table-td-w {
  width: 200px;
}
