<nav class="navbar navbar-white fixed-top bg-white flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Салым Петролиум</a>
  <div class="col-sm-7">
    <input class="form-control form-control-white" type="text" placeholder="Поиск..." aria-label="Поиск...">
  </div>

  <!--Язык-->
  <div class="btn-group col-sm-1 d-inline-block" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
            aria-controls="dropdown-basic">{{language ? 'Русский' : 'Английский'}}<span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" (click)="language = !language;">
        {{!language ? 'Русский' : 'Английский'}}</a>
      </li>
    </ul>
  </div>

  <!--Имя диспетчера-->
  <div class="btn-group col-sm-1 d-inline-block" dropdown>
    <button id="button-basic-ds" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
            aria-controls="dropdown-basic">Имя диспетчера<span class="caret"></span>
    </button>
    <ul id="dropdown-basic-ds" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item">Выход</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee-page" routerLinkActive="active">Страница сотрудника</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/test-page" routerLinkActive="active">Test Page</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 page-conteiner">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
