@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/bootstrap/theme.css";
body {
  background-color: #f8f9fa;
  line-height: 1;
  /*font-size: medium;*/
  font-size: 15px;
}
